{{define "Index"}}

{{template "_head"}}

{{template "_menu"}}

<body>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{range .}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Description}}</td>
                            <td>{{.Price}}</td>
                            <td>{{.Amount}}</td>
                            <td><a href="/product/edit?id={{.Id}}" class="btn btn-info">Edit</button></td>
                            <td><button onclick="onDelete('{{.Id}}')" class="btn btn-danger">Remove</button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="card-footer">
            <a href="/product" class="btn btn-primary mb-2">New Product</a>
        </div>
    </div>
</body>

<script>
    function onDelete(id) {
        const resp = confirm("Remove item?")
        if (resp) {
            window.location = "/product/delete?id=" + id
        }
    }
</script>

</html>
{{end}}