{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golang Store</title>
</head>
<body>
    <h1>Golang Store</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Laptop</td>
            <td>Dell</td>
            <td>$500</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Cell phone</td>
            <td>Samsung</td>
            <td>$199</td>
            <td>22</td>
        </tr>
    </tbody>
    </table>
</body>
</html>
{{end}}